.active {
  color: var(--ion-color-primary);
}
#notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-color-step-100);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}
#notification:hover {
  background: var(--ion-color-step-200);
}
#notification ion-icon {
  font-size: 1.2rem;
}
#notification-toggle ion-icon {
  font-size: 1.25rem;
}
#related {
  position: absolute;
  left: 1.5rem;
  top: -0.25rem;
  ion-icon {
    font-size: 0.8rem;
  }
}
