<div id="notification" (click)="toggle()" (keyup.enter)="toggle()" tabindex="0" role="button">
  @if (notify) {
    <div>
      <ion-icon
        class="active"
        size="large"
        slot="start"
        name="notifications"
      ></ion-icon>
    </div>
  }
  @if (!notify) {
    <div>
      @if (notifyRelated !== '') {
        <div>
          <ion-icon
            class="active"
            size="large"
            slot="start"
            name="notifications-outline"
          ></ion-icon>
          <div id="related">
            @switch (notifyRelated) {
              @case ('agency') {
                <div>
                  <ion-icon class="active" slot="start" name="school"></ion-icon>
                </div>
              }
              @case ('astronaut') {
                <div>
                  <ion-icon class="active" slot="start" name="people"></ion-icon>
                </div>
              }
              @case ('location') {
                <div>
                  <ion-icon class="active" slot="start" name="business"></ion-icon>
                </div>
              }
              @case ('pad') {
                <div>
                  <ion-icon class="active" slot="start" name="locate"></ion-icon>
                </div>
              }
              @case ('rocket') {
                <div>
                  <ion-icon class="active" slot="start" name="rocket"></ion-icon>
                </div>
              }
              @case ('spacecraft') {
                <div>
                  <ion-icon class="active" slot="start" name="planet"></ion-icon>
                </div>
              }
              @case ('spacestation') {
                <div>
                  <ion-icon class="active" slot="start" name="earth"></ion-icon>
                </div>
              }
            }
          </div>
        </div>
      }
      @if (notifyRelated === '') {
        <div>
          <ion-icon
            color="light"
            size="large"
            slot="start"
            name="notifications-off-outline"
          ></ion-icon>
        </div>
      }
    </div>
  }
</div>
