.active {
  color: var(--ion-color-primary);
}
#notification {
  display: flex;
  align-items: center;
  background-color: #30303090;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#amount {
  font-size: 1rem;
}
#notification-toggle ion-icon {
  font-size: 1.25rem;
}
#related {
  position: absolute;
  left: 1.75rem;
  top: 0rem;
}
