<app-notification-icon
  type="event"
  [id]="event.id"
  [relatedTypeIds]="[
    {
      type: 'spacestation',
      id: event.spacestations[0] ? event.spacestations[0].id : ''
    }
  ]"
></app-notification-icon>
<ion-card
  routerDirection="forward"
  [routerLink]="['/event/' + event.id]"
  appSlideIn
>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="
          event.feature_image
            ? event.feature_image
            : 'assets/placeholder_1920.png'
        "
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        id="foreground"
        [src]="
          event.feature_image
            ? event.feature_image
            : 'assets/placeholder_1920.png'
        "
      ></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <app-countdown [date]="date"></app-countdown>
    </div>
  </ion-card-content>
</ion-card>
