<app-notification-icon-dummy *ngIf="notification"></app-notification-icon-dummy>
<ion-card>
  <div id="image">
    <div class="image-wrapper placeholder-item">
      <ion-img id="foreground" ></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle class="placeholder-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-card-subtitle>
    <ion-card-title class="placeholder-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <app-countdown-dummy *ngIf="countdown"></app-countdown-dummy>
    </div>
  </ion-card-content>
</ion-card>
