<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="agency"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="agency!==undefined">
    <div id="agency">
      <agency-detail-card [agency]='agency'></agency-detail-card>
    </div>
    <div id="rocket-list">
      <rocket-list-entry *ngFor="let rocket of agency.launcher_list" [rocket]='rocket'></rocket-list-entry>
    </div>
    <div id="spacecraft-list">
      <spacecraft-list-entry *ngFor="let spacecraft of agency.spacecraft_list" [spacecraft]='spacecraft'>
      </spacecraft-list-entry>
    </div>
    <!-- <div id="location">
      <location-detail-card [location]='agency.location'></location-detail-card>
    </div>
    <div id="agency">
      <agency-detail-card [agency]='agency.lsp'></agency-detail-card>
    </div> -->
  </div>
</ion-content>