<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom,top">
      <ion-tab-button tab="astro">
        <ion-icon name="aperture"></ion-icon>
        <ion-label>Picture of the Day</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="marble">
        <ion-icon name="earth"></ion-icon>
        <ion-label>Blue Marble</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="curiosity">
        <ion-icon src="assets/logos/Curiosity.svg"></ion-icon>
        <ion-label>Curiosity</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="perseverance">
        <ion-icon src="assets/logos/Mars2020.svg"></ion-icon>
        <ion-label>Perseverance</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
