<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="rcket">
        <ion-icon src="assets/logos/RCKET_logo.svg"></ion-icon>
        <ion-label>RCKET</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ll2">
        <ion-icon src="assets/logos/ll2_logo.svg"></ion-icon>
        <ion-label>LL2</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="nasa">
        <ion-icon src="assets/logos/NASA_logo.svg"></ion-icon>
        <ion-label>NASA</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="snapi">
        <ion-icon src="assets/logos/snapi_logo.svg"></ion-icon>
        <ion-label>SNAPI</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
