<ion-content
  #articleContent
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)"
  [fullscreen]="true"
>
  <ion-refresher slot="fixed" (ionRefresh)="loadFirst($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container">
    <ion-grid>
      <ion-row *ngIf="store.articles.length<=0">
        <ion-col
          *ngFor="let item of [].constructor(24)"
          size="12"
          size-sm="6"
          size-md="4"
          size-xl="3"
        >
          <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          *ngFor="let newsItem of store.articles"
          size="12"
          size-sm="6"
          size-md="4"
          size-xl="3"
        >
          <app-news-list-entry
            [newsItem]="newsItem"
            type="Article"
          ></app-news-list-entry>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circular"
        loadingText="Loading more articles..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll></div
></ion-content>
