<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  #articleContent
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)"
  [fullscreen]="true"
  >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Articles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="loadFirst($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container">
    <ion-grid>
      @if (!store.articleLoaded && store.articles.length<=0) {
        <ion-row>
          @for (item of [].constructor(8); track item) {
            <ion-col
              size="12"
              size-sm="6"
              size-md="4"
              size-xl="3"
              >
              <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
            </ion-col>
          }
        </ion-row>
      }
      @if (store.articleLoaded && store.articles.length===0) {
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-icon name="newspaper-outline" size="large" color="medium"></ion-icon>
            <h3>No articles found</h3>
          </ion-col>
        </ion-row>
      }
      <ion-row>
        @for (newsItem of store.articles; track newsItem) {
          <ion-col
            size="12"
            size-sm="6"
            size-md="4"
            size-xl="3"
            >
            <app-news-list-entry
              [newsItem]="newsItem"
              type="Article"
            ></app-news-list-entry>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circular"
        loadingText="Loading more articles..."
        >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll></div
  ></ion-content>
