<ion-card>
  <ion-card-content>
    <div id="week">
      <div id="scala">
        @for (item of ['0:00','3:00','6:00','9:00','12:00','15:00','18:00','21:00']; track item) {
          <div class="scala-item">{{item}}</div>
        }
      </div>
      @for (day of days; track day) {
        <div class="day">
          <div class="column">
            @for (hour of day.hours; track hour) {
              <div class="hour inactive" [ngClass]="{'primary': hour.primary,'secondary': hour.secondary,'inactive': hour.inactive}"></div>
            }
          </div>
          <div class="label">
            {{day.label}}
          </div>
        </div>
      }
    </div>
    <div id="summary">
      @for (closure of roadClosures; track closure) {
        <div class="summary-item">
          @if (closure.title==='Primary Date') {
            <div class="summary-type primary-text">Primary</div>
          }
          @if (closure.title==='Secondary Date') {
            <div class="summary-type secondary-text">Secondary</div>
          }
          <div class="summary-date">{{toDate(closure.window_start).toLocaleDateString()}}</div>
          <div class="summary-time">{{toDate(closure.window_start).toLocaleTimeString()}} - {{toDate(closure.window_end).toLocaleTimeString()}}</div>
        </div>
      }
    </div>
  </ion-card-content>
</ion-card>
