<app-notification-icon type="rocket" [id]="rocket.id"></app-notification-icon>
<ion-card *ngIf="rocket !== undefined" appSlideIn>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="rocket.image_url ? rocket.image_url : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        [title]="rocket.name"
        [text]="rocket.family"
        ionImgViewer
        id="foreground"
        [src]="rocket.image_url ? rocket.image_url : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ rocket.family }}</ion-card-subtitle>
    <ion-card-title>{{ rocket.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="details">
      <ion-item>
        <ion-label> Description </ion-label>
      </ion-item>
      <p>{{ rocket.description }}</p>
    </div>
    <div id="specifications">
      <ion-item>
        <ion-label> Specifications </ion-label>
      </ion-item>
      <ion-chip id="diameter" *ngIf="rocket.diameter" (click)="showSpecification('Diameter',rocket.diameter,'Meter')">
        <ion-icon name="code-working" color="dark"></ion-icon>
        <ion-label>{{ rocket.diameter }}m</ion-label>
      </ion-chip>
      <ion-chip id="length" *ngIf="rocket.length" (click)="showSpecification('Height',rocket.length,'Meter')">
        <ion-icon name="arrow-up" color="dark"></ion-icon>
        <ion-label>{{ rocket.length }}m</ion-label>
      </ion-chip>
      <ion-chip id="launch_mass" *ngIf="rocket.launch_mass" (click)="showSpecification('Total mass at launch',rocket.launch_mass,'Tons')">
        <ion-icon name="barbell" color="dark"></ion-icon>
        <ion-label>{{ rocket.launch_mass }}t</ion-label>
      </ion-chip>
      <ion-chip id="leo_capacity" *ngIf="rocket.leo_capacity"(click)="showSpecification('Payload capacity to LEO',rocket.leo_capacity,'Kilogramm')">
        <ion-icon name="earth" color="dark"></ion-icon>
        <ion-label>{{ rocket.leo_capacity }}kg</ion-label>
      </ion-chip>
      <ion-chip id="gto_capacity" *ngIf="rocket.gto_capacity"(click)="showSpecification('Payload capacity to GTO',rocket.gto_capacity,'Kilogramm')">
        <ion-icon name="planet" color="dark"></ion-icon>
        <ion-label>{{ rocket.gto_capacity }}kg</ion-label>
      </ion-chip>
      <ion-chip id="to_thrust" *ngIf="rocket.to_thrust" (click)="showSpecification('Thrust',rocket.to_thrust,'Kilonewton')">
        <ion-icon name="pulse" color="dark"></ion-icon>
        <ion-label>{{ rocket.to_thrust }}kN</ion-label>
      </ion-chip>
      <ion-chip id="maiden_flight" *ngIf="rocket.maiden_flight" (click)="showSpecification('First Flight',rocket.maiden_flight,'')">
        <ion-icon name="rocket" color="dark"></ion-icon>
        <ion-label>{{ rocket.maiden_flight }}</ion-label>
      </ion-chip>
    </div>
  </ion-card-content>
</ion-card>
