<ion-card *ngIf="rocket!==undefined" slideIn>
  <div id="image">
    <div class="image-wrapper">
      <ion-img id="background" [src]="rocket.image_url"></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img id="foreground" [src]="rocket.image_url"></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{rocket.family}}</ion-card-subtitle>
    <ion-card-title>{{rocket.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <div class="links">
        <ion-item *ngIf="rocket.wikiURL!==''" [href]="rocket.wikiURL">
          <ion-label>Wiki</ion-label>
        </ion-item>
        <ion-item *ngFor="let infoURL of rocket.infoURLs; let i=index" [href]="infoURL">
          <ion-label>Info {{i+1}}</ion-label>
        </ion-item>
      </div>
    </div>
  </ion-card-content>
</ion-card>