<ion-card *ngIf="astroImageOfTheDay" appSlideIn>
  <div id="image" *ngIf="astroImageOfTheDay.media_type==='image'">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="
          astroImageOfTheDay.url
            ? astroImageOfTheDay.url
            : placeholderService.getPlaceholder()
        "
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img-viewer
        id="foreground"
        [title]="astroImageOfTheDay.title"
        [text]="astroImageOfTheDay.copyright"
        [srcHighRes]="
          astroImageOfTheDay.hdurl
            ? astroImageOfTheDay.hdurl
            : placeholderService.getPlaceholder()
            "
            [swipeToClose]="false"
        [src]="
          astroImageOfTheDay.url
            ? astroImageOfTheDay.url
            : placeholderService.getPlaceholder()
        "
      ></ion-img-viewer>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle *ngIf="astroImageOfTheDay.copyright"
      >© {{ astroImageOfTheDay.copyright }}</ion-card-subtitle
    >
    <ion-card-subtitle *ngIf="!astroImageOfTheDay.copyright"
      >© NASA</ion-card-subtitle
    >
    <ion-card-title>{{ astroImageOfTheDay.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <youtube-player height="100%" width="100%" [videoId]="id"></youtube-player>
    <div id="content">
      {{ astroImageOfTheDay.explanation }}
    </div>
  </ion-card-content>
</ion-card>
