<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Open Source</ion-card-subtitle>
      <ion-card-title>GitHub</ion-card-title>
    </ion-card-header>
    <ion-card-content
      ><p>The entire source code of this app is available on GitHub</p>
      <ion-item href="https://github.com/TiloHeidasch/launchschedule">
        <ion-label>Client</ion-label></ion-item
      ><ion-item
        href="https://github.com/TiloHeidasch/launchschedule-notifications"
      >
        <ion-label>Server</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Author</ion-card-subtitle>
      <ion-card-title>Tilo Heidasch</ion-card-title>
    </ion-card-header>
    <ion-card-content>Awesome content</ion-card-content></ion-card
  ><ion-card>
    <ion-card-header>
      <ion-card-subtitle>Version</ion-card-subtitle>
      <ion-card-title>Name</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{versionName}} </ion-card-content> </ion-card
  ><ion-card>
    <ion-card-header>
      <ion-card-subtitle>Version</ion-card-subtitle>
      <ion-card-title>Code</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{versionCode}} </ion-card-content>
  </ion-card>
</ion-content>
