@if (agency !== undefined) {
  <ion-card>
    <div id="image">
      <div class="image-wrapper">
        <ion-img
          id="background"
          [src]="placeholderService.resolveImage(agency.image, agency.image_url)"
        ></ion-img>
      </div>
      <div class="image-wrapper">
        <ion-img-viewer
          id="foreground"
          [title]="agency.name"
          [text]="agency.abbrev"
          [swipeToClose]="false"
          [src]="placeholderService.resolveImage(agency.image, agency.image_url)"
        ></ion-img-viewer>
      </div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ agency.abbrev }}</ion-card-subtitle>
      <ion-card-title>{{ agency.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="content">
        <div id="logos">
          <ion-img
            [src]="placeholderService.resolveImage(agency.logo, agency.logo_url)"
          ></ion-img>
          <ion-img
          [src]="
            placeholderService.resolveImage(agency.social_logo, agency.nation_url)
          "
          ></ion-img>
        </div>
        <p>{{ agency.description }}</p>
        <p>
          Successful Launches: {{ agency.successful_launches }}/{{
          agency.total_launch_count
          }}
        </p>
        <div class="links">
          @if (agency.wiki_url !== '') {
            <ion-item [href]="agency.wiki_url">
              <ion-label>Wiki</ion-label>
            </ion-item>
          }
          <ion-item [href]="agency.info_url">
            <ion-label>Info</ion-label>
          </ion-item>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
}
