<ion-card *ngIf="agency!==undefined">
  <ion-card-header>
    <ion-card-subtitle>{{agency.abbrev}}</ion-card-subtitle>
    <ion-card-title>{{agency.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="links">
      <ion-item *ngIf="agency.wikiURL!==''" [href]="agency.wikiURL">
        <ion-label>Wiki</ion-label>
      </ion-item>
      <ion-item *ngFor="let infoURL of agency.infoURLs; let i=index" [href]="infoURL">
        <ion-label>Info {{i+1}}</ion-label>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>