<ion-card *ngIf="agency!==undefined" slideIn>
  <div id="image">
    <div class="image-wrapper">
      <ion-img id="background" [src]="agency.image_url?agency.image_url:'assets/placeholder_1920.png'"></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img id="foreground" [src]="agency.image_url?agency.image_url:'assets/placeholder_1920.png'"></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{agency.abbrev}}</ion-card-subtitle>
    <ion-card-title>{{agency.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <div id="logos">
        <ion-img [src]="agency.logo_url?agency.logo_url:'assets/placeholder_1920.png'"></ion-img>
        <ion-img [src]="agency.nation_url?agency.nation_url:'assets/placeholder_1920.png'"></ion-img>
      </div>
      <p>{{agency.description}}</p>
      <p>Successful Launches: {{agency.successful_launches}}/{{agency.total_launch_count}}</p>
      <div class="links">
        <ion-item *ngIf="agency.wiki_url!==''" [href]="agency.wiki_url">
          <ion-label>Wiki</ion-label>
        </ion-item>
        <ion-item [href]="agency.info_url">
          <ion-label>Info</ion-label>
        </ion-item>
      </div>
    </div>

  </ion-card-content>
</ion-card>