<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title id="title">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="filter" (click)="toggleFilter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="store.showFilter">
    <ion-searchbar
      (ionChange)="searchChange($event)"
      [value]="store.search"
      animated
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="store.showFilter">
    <ion-segment
      (ionChange)="loadFirst()"
      [(ngModel)]="store.upcomingPreviousAll"
    >
      <ion-segment-button value="Previous">
        <ion-icon name="return-up-back"></ion-icon>
        <ion-label>Previous</ion-label>
      </ion-segment-button>
      <ion-segment-button value="All">
        <ion-icon name="repeat"></ion-icon>
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Upcoming">
        <ion-icon name="return-down-forward"></ion-icon>
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar *ngIf="store.showFilter && store.upcomingPreviousAll==='All'">
    <ion-item>
      <ion-label>From</ion-label>
      <ion-datetime
        (ionChange)="startChange($event)"
        displayFormat="DD.MM.YYYY"
        min="1950-01-01"
        [max]="store.endDate.toISOString()"
        [value]="store.startDate.toISOString()"
        placeholder="Start Date"
      >
      </ion-datetime>
      <ion-buttons>
        <ion-button (click)="startToday()">
          <ion-icon slot="icon-only" name="today"></ion-icon>
        </ion-button>
        <ion-button (click)="startClear()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label>To</ion-label>
      <ion-datetime
        (ionChange)="endChange($event)"
        displayFormat="DD.MM.YYYY"
        [min]="store.startDate.toISOString()"
        max="2050-12-31"
        [value]="store.endDate.toISOString()"
        placeholder="End Date"
      ></ion-datetime>
      <ion-buttons>
        <ion-button (click)="endToday()">
          <ion-icon slot="icon-only" name="today"></ion-icon>
        </ion-button>
        <ion-button (click)="endClear()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content
  #launchOverviewContent
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)"
  [fullscreen]="true"
>
  <ion-refresher slot="fixed" (ionRefresh)="loadFirst($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <div *ngIf="store.launches.length===0">
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [countdown]="true" [notification]="true"></app-list-entry-dummy>
      </div>
      <div *ngFor="let launch of store.launches">
        <app-launch-list-entry [launch]="launch"></app-launch-list-entry>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circular"
        loadingText="Loading more launches..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
