<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="launch"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="launch!==undefined">
    <div id="launch">
      <launch-detail-card [launch]='launch'></launch-detail-card>
    </div>
    <div id="rocket">
      <rocket-list-entry [rocket]='launch.rocket.configuration'></rocket-list-entry>
    </div>
    <div id="mission" *ngIf="launch.mission">
      <mission-list-entry [mission]='launch.mission'></mission-list-entry>
    </div>
    <div id="pad">
      <pad-list-entry [pad]='launch.pad'></pad-list-entry>
    </div>
    <div id="agency">
      <agency-list-entry [agency]='launch.launch_service_provider'></agency-list-entry>
    </div>
    <div id="video">
      <launch-video *ngFor="let video of launch.vidURLs" [video]='video'></launch-video>
    </div>
  </div>
</ion-content>