<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="launch"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container" *ngIf="launch!==undefined">
    <div id="launch">
      <app-launch-detail-card [launch]="launch"></app-launch-detail-card>
    </div>
    <div
      id="crew"
      *ngIf="launch.rocket.spacecraft_stage && launch.rocket.spacecraft_stage.launch_crew"
    >
      <div
        class="crew-member"
        *ngFor="let member of launch.rocket.spacecraft_stage.launch_crew"
      >
        <ion-item>
          <ion-label> {{member.role}} </ion-label>
        </ion-item>
        <app-astronaut-list-entry
          [id]="member.astronaut.id"
        ></app-astronaut-list-entry>
      </div>
    </div>
    <div id="rocket">
      <ion-item>
        <ion-label> Rocket </ion-label>
      </ion-item>
      <app-rocket-list-entry
        [rocket]="launch.rocket.configuration"
      ></app-rocket-list-entry>
    </div>
    <div id="mission" *ngIf="launch.mission">
      <ion-item>
        <ion-label> Mission </ion-label>
      </ion-item>
      <app-mission-list-entry
        [mission]="launch.mission"
      ></app-mission-list-entry>
    </div>
    <div id="pad">
      <ion-item>
        <ion-label> Pad </ion-label>
      </ion-item>
      <app-pad-list-entry [pad]="launch.pad"></app-pad-list-entry>
    </div>
    <div id="agency">
      <ion-item>
        <ion-label> Agency </ion-label>
      </ion-item>
      <app-agency-list-entry
        [agency]="launch.launch_service_provider"
      ></app-agency-list-entry>
    </div>
    <div id="video" *ngIf="launch.vidURLs && launch.vidURLs.length>0">
      <ion-item>
        <ion-label> Videos </ion-label>
      </ion-item>
      <app-youtube-video
        *ngFor="let video of launch.vidURLs"
        [launchVideo]="video"
      ></app-youtube-video>
    </div>
  </div>
</ion-content>
