<div id="countdown" class="active">
  <div class="bar top-bar"></div>
  <div id="display" class="row">
    <div class="col">
      <span class="prefix placeholder-item">T-</span>
      <span class="label-blank"></span>
    </div>
    <div class="col">
      <div class="pair">
        <span class="digit placeholder-item">0</span>
        <span class="digit placeholder-item">0</span>
      </div>
      <span class="label placeholder-item">HOUR</span>
    </div>
    <div class="col">
      <span class="colon placeholder-item">:</span>
      <span class="label-blank"></span>
    </div>
    <div class="col">
      <div class="pair">
        <span class="digit placeholder-item">0</span>
        <span class="digit placeholder-item">0</span>
      </div>
      <span class="label placeholder-item">MINUTE</span>
    </div>
    <div class="col">
      <span class="colon placeholder-item">:</span>
      <span class="label-blank"></span>
    </div>
    <div class="col">
      <div class="pair">
        <span class="digit placeholder-item">0</span>
        <span class="digit placeholder-item">0</span>
      </div>
      <span class="label placeholder-item">SECOND</span>
    </div>
  </div>
  <div class="bar bottom-bar"></div>
</div>
