<div id="countdown">
  <div id="top-line" class="active"></div>
  <div id="number-line">
    <p class="digit spacer placeholder-item">&nbsp;</p>
    <div id="hour-pair" class="pair">
      <div id="hours1" class="number">
        <p class="digit placeholder-item">&nbsp;</p>
      </div>
      <div id="hours2" class="number">
        <p class="digit placeholder-item">&nbsp;</p>
      </div>
    </div>
    <p class="digit spacer  placeholder-item">&nbsp;</p>
    <div id="minute-pair" class="pair">
      <div id="minutes1" class="number">
        <p class="digit placeholder-item">&nbsp;</p>
      </div>
      <div id="minutes2" class="number">
        <p class="digit placeholder-item">&nbsp;</p>
      </div>
    </div>
    <p class="digit spacer  placeholder-item">&nbsp;</p>
    <div id="second-pair" class="pair">
      <div id="seconds1" class="number">
        <p class="digit placeholder-item">&nbsp;</p>
      </div>
      <div id="seconds2" class="number">
        <p class="digit placeholder-item">&nbsp;</p>
      </div>
    </div>
  </div>
  <div id="text-line"class="active placeholder-item">
    <p>&nbsp;</p>
  </div>
</div>
