ion-toolbar{
  ion-title{
    --color: var(--ion-color-secondary-contrast);
  }
  ion-button{
    --color: var(--ion-color-secondary-contrast) !important;
  }
  ion-segment-button{
    --color: var(--ion-color-secondary-contrast) !important;
  }
 }
 ion-menu-button {
  color: var(--ion-color-primary);
}
ion-header.header-collapse-condense-inactive ion-toolbar {
  ion-button{
    --color: var(--toolbar-expanded-color) !important;
  }
 }
.toolbar-title-large.ios ion-title{
  --color: var(--toolbar-expanded-color) !important;
}