<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFilter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="store.showFilter">
    <ion-searchbar
      (ionChange)="searchChange($event)"
      [value]="store.search"
      animated
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="store.showFilter">
    <ion-segment (ionChange)="loadFirst()" [(ngModel)]="store.humanRated">
      <ion-segment-button value="Cargo">
        <ion-icon name="trash"></ion-icon>
        <ion-label>Cargo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="All">
        <ion-icon name="repeat"></ion-icon>
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Human rated">
        <ion-icon name="infinite"></ion-icon>
        <ion-label>Human rated</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar *ngIf="store.showFilter">
    <ion-segment (ionChange)="loadFirst()" [(ngModel)]="store.inUse">
      <ion-segment-button value="Decomissioned">
        <ion-icon name="cloud-offline"></ion-icon>
        <ion-label>Decomissioned</ion-label>
      </ion-segment-button>
      <ion-segment-button value="All">
        <ion-icon name="repeat"></ion-icon>
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Active">
        <ion-icon name="cloud-done"></ion-icon>
        <ion-label>Active</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content
  #spacecraftOverviewContent
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)"
  [fullscreen]="true"
>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <div *ngFor="let spacecraft of store.spacecrafts">
        <app-spacecraft-list-entry
          [spacecraft]="spacecraft"
        ></app-spacecraft-list-entry>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circular"
        loadingText="Loading more spacecrafts..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
