<ion-card
  routerDirection="forward"
  [routerLink]="['/spacecraft/' + spacecraft.id]"
 
>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="placeholderService.resolveImage(spacecraft.image, spacecraft.image_url)"
      >
      </ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        id="foreground"
        [src]="placeholderService.resolveImage(spacecraft.image, spacecraft.image_url)"
      >
      </ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      @if (spacecraft.crew_capacity) {
        <ion-chip>
          <ion-icon name="body" color="dark"></ion-icon>
          <ion-label>{{ spacecraft.crew_capacity }} crew</ion-label>
        </ion-chip>
      }
      @if (spacecraft.maiden_flight) {
        <ion-chip>
          <ion-icon name="calendar" color="dark"></ion-icon>
          <ion-label>{{ spacecraft.maiden_flight }}</ion-label>
        </ion-chip>
      }
    </div>
  </ion-card-content>
</ion-card>
