<div *ngIf="status!==undefined">
  <div [ngSwitch]="status.id">
    <!-- 1 - Go -- green -->
    <!-- 2 - TBD -- purple -->
    <!-- 3 - Success -- green -->
    <!-- 4 - Fail -- red -->
    <!-- 5 - Hold -- purple -->
    <!-- 6 - In Flight -- blue -->
    <!-- 7 - Partial Failure -- orange -->
    <div *ngSwitchCase="1">
      <ion-chip color="success">
        <ion-label color="success">{{status.name}}</ion-label>
      </ion-chip>
    </div>
    <div *ngSwitchCase="2">
      <ion-chip color="tertiary">
        <ion-label color="tertiary">{{status.name}}</ion-label>
      </ion-chip>
    </div>
    <div *ngSwitchCase="3">
      <ion-chip color="success">
        <ion-label color="success">{{status.name}}</ion-label>
      </ion-chip>
    </div>
    <div *ngSwitchCase="4">
      <ion-chip color="danger">
        <ion-label color="danger">{{status.name}}</ion-label>
      </ion-chip>
    </div>
    <div *ngSwitchCase="5">
      <ion-chip color="tertiary">
        <ion-label color="tertiary">{{status.name}}</ion-label>
      </ion-chip>
    </div>
    <div *ngSwitchCase="6">
      <ion-chip color="primary">
        <ion-label color="primary">{{status.name}}</ion-label>
      </ion-chip>
    </div>
    <div *ngSwitchCase="7">
      <ion-chip color="warning">
        <ion-label color="warning">{{status.name}}</ion-label>
      </ion-chip>
    </div>
    <div *ngSwitchDefault></div>
  </div>
</div>