<app-notification-icon
  type="launch"
  [id]="launch.id"
  [relatedTypeIds]="[
    {
      type: 'agency',
      id: launch.launch_service_provider ? launch.launch_service_provider.id : 0
    },
    {
      type: 'location',
      id: launch.pad && launch.pad.location ? launch.pad.location.id : 0
    },
    { type: 'pad', id: launch.pad ? launch.pad.id : 0 },
    {
      type: 'rocket',
      id:
        launch.rocket && launch.rocket.configuration
          ? launch.rocket.configuration.id
          : 0
    }
  ]"
></app-notification-icon>
<ion-card
  routerDirection="forward"
  [routerLink]="['/launch/' + launch.id]"
  appSlideIn
>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="launch.image ? launch.image : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        id="foreground"
        [src]="launch.image ? launch.image : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <app-launch-status [status]="launch.status"></app-launch-status>
      <app-countdown [date]="date"></app-countdown>
    </div>
  </ion-card-content>
</ion-card>
