<ion-card
  routerDirection="forward"
  [routerLink]="['/launch/' + launch.id]"
 
>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="placeholderService.resolveImage(launch.image)"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        id="foreground"
        [src]="placeholderService.resolveImage(launch.image)"
      ></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <app-launch-status [status]="launch.status"></app-launch-status>
      <app-countdown [date]="date"></app-countdown>
    </div>
  </ion-card-content>
</ion-card>
