<ion-card>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="
          aboutCardDetail.imageSrc
            ? aboutCardDetail.imageSrc
            : placeholderService.getPlaceholder()
        "
      ></ion-img>
    </div>
    <div class="image-wrapper">
      @if (aboutCardDetail.imageSrc) {
        <ion-img
          id="foreground"
        [src]="
          aboutCardDetail.imageSrc
            ? aboutCardDetail.imageSrc
            : placeholderService.getPlaceholder()
        "
        ></ion-img>
      }
      @if (aboutCardDetail.image) {
        <ion-img-viewer
          id="foreground"
          [title]="aboutCardDetail.image.title"
          [text]="aboutCardDetail.image.subtitle"
          [swipeToClose]="false"
          [src]="aboutCardDetail.image.imageSrc ? aboutCardDetail.image.imageSrc : placeholderService.getPlaceholder()"
        ></ion-img-viewer>
      }
    </div>
  </div>
  <ion-card-header>
    @if (aboutCardDetail.subtitle) {
      <ion-card-subtitle>{{ aboutCardDetail.subtitle }}</ion-card-subtitle>
    }
    @if (aboutCardDetail.title) {
      <ion-card-title>{{ aboutCardDetail.title }}</ion-card-title>
    }
  </ion-card-header>
  <ion-card-content>
    @if (aboutCardDetail.content) {
      <p>{{aboutCardDetail.content}}</p>
    }
    @for (contentLine of aboutCardDetail.contentMultiLine; track contentLine) {
      <p>{{contentLine}}</p>
    }
    @for (link of aboutCardDetail.links; track link) {
      <div>
        <ion-item  [href]="link.link">
          <ion-label>{{link.name}}</ion-label>
        </ion-item>
      </div>
    }
  </ion-card-content>
</ion-card>
