@if (agency !== undefined) {
  <ion-card
    routerDirection="forward"
    [routerLink]="['/agency/' + agency.id]"
    >
    <div id="image">
      <div class="image-wrapper">
        <ion-img
          id="background"
          [src]="placeholderService.resolveImage(agency.image, agency.image_url)"
        ></ion-img>
      </div>
      <div class="image-wrapper">
        <ion-img
          id="foreground"
          [src]="placeholderService.resolveImage(agency.logo, agency.logo_url)"
        ></ion-img>
      </div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
      <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if (agency.total_launch_count) {
        <ion-chip>
          <ion-icon name="rocket" color="dark"></ion-icon>
          <ion-label>{{ agency.successful_launches }}/{{ agency.total_launch_count }}</ion-label>
        </ion-chip>
      }
      @if (agency.administrator) {
        <ion-chip>
          <ion-icon name="person" color="dark"></ion-icon>
          <ion-label>{{ agency.administrator }}</ion-label>
        </ion-chip>
      }
    </ion-card-content>
  </ion-card>
}
