<app-notification-icon type="agency" [id]="agency.id"></app-notification-icon>
<ion-card
  *ngIf="agency !== undefined"
  routerDirection="forward"
  [routerLink]="['/agency/' + agency.id]"
  appSlideIn
>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="agency.image_url ? agency.image_url : 'assets/placeholder.png'"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        id="foreground"
        [src]="agency.image_url ? agency.image_url : 'assets/placeholder.png'"
      ></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <ion-img
        [src]="agency.logo_url ? agency.logo_url : 'assets/placeholder.png'"
      ></ion-img>
      <ion-img
        [src]="agency.nation_url ? agency.nation_url : 'assets/placeholder.png'"
      ></ion-img>
    </div>
  </ion-card-content>
</ion-card>
