@if (astronaut) {
  <ion-card
    routerDirection="forward"
    [routerLink]="['/astronaut/' + astronaut.id]"
    >
    <div id="image">
      <div class="image-wrapper">
        <ion-img
          id="background"
        [src]="placeholderService.resolveImage(astronaut.image && astronaut.image.thumbnail_url ? astronaut.image.thumbnail_url : astronaut.image, astronaut.profile_image_thumbnail)"
          >
        </ion-img>
      </div>
      <div class="image-wrapper">
        <ion-img
          id="foreground"
        [src]="placeholderService.resolveImage(astronaut.image && astronaut.image.thumbnail_url ? astronaut.image.thumbnail_url : astronaut.image, astronaut.profile_image_thumbnail)"
          >
        </ion-img>
      </div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
      <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-astronaut-status [status]="astronaut.status"></app-astronaut-status>
      <div id="content">
        <p id="born">*{{ astronaut.date_of_birth }}</p>
        @if (astronaut.date_of_death !== null) {
          <p id="died">
            †{{ astronaut.date_of_death }}
          </p>
        }
      </div>
    </ion-card-content>
  </ion-card>
}
