<ion-card *ngIf="pad!==undefined">
  <ion-card-header>
    <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
    <ion-card-title>{{title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="map">
      <map [lat]="pad.latitude" [lng]="pad.longitude"></map>
    </div>
    <div class="links">
      <ion-item *ngIf='pad.wikiURL!==""' [href]="pad.wikiURL">
        <ion-label>Wiki</ion-label>
      </ion-item>
      <ion-item *ngFor="let infoURL of pad.infoURLs; let i=index" [href]="infoURL">
        <ion-label>Info {{i+1}}</ion-label>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>