<app-notification-icon type="pad" [id]="pad.id"></app-notification-icon>
<ion-card *ngIf="pad">
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="pad.map_image ? pad.map_image : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img-viewer
        [title]="pad.name"
        [text]="pad.location.name"
        [swipeToClose]="false"
        id="foreground"
        [src]="pad.map_image ? pad.map_image : placeholderService.getPlaceholder()"
      ></ion-img-viewer>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ pad.location.name }}</ion-card-subtitle>
    <ion-card-title>{{ pad.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="map">
      <app-map [lat]="pad.latitude" [lng]="pad.longitude"></app-map>
    </div>
    <div id="specifications">
      <ion-item>
        <ion-label> Specifications </ion-label>
      </ion-item>
      <ion-chip id="total_launch_count">
        <ion-icon name="trending-up" color="dark"></ion-icon>
        <ion-label>{{ pad.total_launch_count }}</ion-label>
      </ion-chip>
    </div>
    <div class="links">
      <ion-item *ngIf="pad.wiki_url !== ''" [href]="pad.wiki_url">
        <ion-label>Wiki</ion-label>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>
