<ion-card *ngIf="pad!==undefined">
  <ion-card-header>
    <ion-card-subtitle>{{pad.location.name}}</ion-card-subtitle>
    <ion-card-title>{{pad.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="map">
      <map [lat]="pad.latitude" [lng]="pad.longitude"></map>
    </div>
    <p>Total Launches: {{pad.total_launch_count}}</p>
    <div class="links">
      <ion-item *ngIf="pad.wiki_url!==''" [href]="pad.wiki_url">
        <ion-label>Wiki</ion-label>
      </ion-item>
      <ion-item *ngIf="pad.info_url!==''" [href]="pad.info_url">
        <ion-label>Info</ion-label>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>