<div id="countdown">
  <div id="top-line" class="blue"></div>
  <div id="number-line">
    <p class="digit spacer">{{ prefix }}</p>
    <div id="hour-pair" class="pair">
      <div id="hours1" class="number">
        <p class="digit">{{ hours1 }}</p>
      </div>
      <div id="hours2" class="number">
        <p class="digit">{{ hours2 }}</p>
      </div>
    </div>
    <p class="digit spacer">:</p>
    <div id="minute-pair" class="pair">
      <div id="minutes1" class="number">
        <p class="digit">{{ minutes1 }}</p>
      </div>
      <div id="minutes2" class="number">
        <p class="digit">{{ minutes2 }}</p>
      </div>
    </div>
    <p class="digit spacer">:</p>
    <div id="second-pair" class="pair">
      <div id="seconds1" class="number">
        <p class="digit">{{ seconds1 }}</p>
      </div>
      <div id="seconds2" class="number">
        <p class="digit">{{ seconds2 }}</p>
      </div>
    </div>
  </div>
  <div id="text-line" class="blue">
    <p></p>
    <p>{{ unit1 }}</p>
    <p></p>
    <p>{{ unit2 }}</p>
    <p></p>
    <p>{{ unit3 }}</p>
  </div>
</div>
