<div id="countdown" [ngClass]="{ active: active, inactive: !active }">
  <div class="bar top-bar"></div>
  <div id="display" class="row">
    <div class="col">
      <span id="prefix" class="prefix">T{{ prefix }}</span>
      <span class="label-blank"></span>
    </div>
    <div class="col">
      <div class="pair">
        <span class="digit">{{ hours1 }}</span>
        <span class="digit">{{ hours2 }}</span>
      </div>
      <span class="label">{{ unit1 }}</span>
    </div>
    <div class="col">
      <span class="colon">:</span>
      <span class="label-blank"></span>
    </div>
    <div class="col">
      <div class="pair">
        <span class="digit">{{ minutes1 }}</span>
        <span class="digit">{{ minutes2 }}</span>
      </div>
      <span class="label">{{ unit2 }}</span>
    </div>
    <div class="col">
      <span class="colon">:</span>
      <span class="label-blank"></span>
    </div>
    <div class="col">
      <div class="pair">
        <span class="digit">{{ seconds1 }}</span>
        <span class="digit">{{ seconds2 }}</span>
      </div>
      <span class="label">{{ unit3 }}</span>
    </div>
  </div>
  <div class="bar bottom-bar"></div>
</div>
