<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="astronaut"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="astronaut!==undefined">
    <div id="astronaut">
      <app-astronaut-detail-card
        [astronaut]="astronaut"
      ></app-astronaut-detail-card>
    </div>
    <div id="agency">
      <app-agency-list-entry [id]="astronaut.agency.id"></app-agency-list-entry>
    </div>
    <div id="launch-list">
      <app-launch-list-entry
        *ngFor="let launch of astronaut.flights"
        [launch]="launch"
      ></app-launch-list-entry>
    </div>
    <!-- <div id="astronaut">
      <astronaut-detail-card [astronaut]='astronaut.lsp'></astronaut-detail-card>
    </div> -->
  </div>
</ion-content>
