<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="spacestation"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="spacestation!==undefined">
    <div id="spacestation">
      <spacestation-detail-card [spacestation]='spacestation'></spacestation-detail-card>
    </div>
    <div id="expeditions" *ngIf="spacestation.active_expeditions">
      <div *ngFor="let expedition of spacestation.active_expeditions">
        <ion-item>
          <ion-label>
            {{expedition.name}} Crew
          </ion-label>
        </ion-item>
        <div class="crew-member" *ngFor="let member of expedition.crew">
          <ion-item>
            <ion-label>
              {{member.role}}
            </ion-label>
          </ion-item>
          <astronaut-list-entry [id]="member.astronaut.id"></astronaut-list-entry>
        </div>
      </div>
    </div>
    <div id="owners">
      <ion-item>
        Owners
      </ion-item>
      <agency-list-entry *ngFor="let agency of spacestation.owners" [id]='agency.id'>
      </agency-list-entry>
    </div>

  </div>
</ion-content>