<ion-card *ngIf="astronaut !== undefined" appSlideIn>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="
          astronaut.profile_image
            ? astronaut.profile_image
            : 'assets/placeholder.png'
        "
      >
      </ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        [title]="astronaut.name"
        [text]="astronaut.nationality"
        ionImgViewer
        id="foreground"
        [src]="
          astronaut.profile_image
            ? astronaut.profile_image
            : 'assets/placeholder.png'
        "
      >
      </ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ astronaut.nationality }}</ion-card-subtitle>
    <ion-card-title>{{ astronaut.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <div id="born-died">
        <p id="born">*{{ astronaut.date_of_birth }}</p>
        <p id="died" *ngIf="astronaut.date_of_death !== null">
          †{{ astronaut.date_of_death }}
        </p>
      </div>
      <app-astronaut-status [status]="astronaut.status"></app-astronaut-status>
      <p id="bio">{{ astronaut.bio }}</p>
      <div id="social">
        <ion-button *ngIf="astronaut.twitter" [href]="astronaut.twitter">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button *ngIf="astronaut.instagram" [href]="astronaut.instagram">
          <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
