<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="event"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (event!==undefined) {
    <div id="container">
      <div id="event">
        <app-event-detail-card [event]="event"></app-event-detail-card>
      </div>
      @if (event.launches.length>0) {
        <div id="launches">
          <ion-item>
            <ion-label> Launches </ion-label>
          </ion-item>
          @for (launch of event.launches; track launch) {
            <app-launch-list-entry
              [launch]="launch"
            ></app-launch-list-entry>
          }
        </div>
      }
      @if (event.expeditions.length>0 && event.expeditions[0].spacestation) {
        <div
          id="spacestations"
          >
          <ion-item>
            <ion-label> Spacestation </ion-label>
          </ion-item>
          <app-spacestation-list-entry
            [id]="event.expeditions[0].spacestation.id"
          ></app-spacestation-list-entry>
        </div>
      }
      @if (event.video_url) {
        <div id="video">
          <ion-item>
            <ion-label> Video </ion-label>
          </ion-item>
          <app-youtube-video [url]="event.video_url"></app-youtube-video>
        </div>
      }
    </div>
  }
</ion-content>
