<ion-content
  #overviewContent
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)"
  [fullscreen]="true"
  >
  <ion-refresher slot="fixed" (ionRefresh)="store.loadDashboard($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @if (store.dashboard.upcoming.launches.length>0 || store.dashboard.upcoming.events.length>0) {
    <div
      id="upcoming"
      class="section"
      >
      <div class="section-title">Up next</div>
      @if (nextEvent) {
        <app-event-list-entry
          [event]="nextEvent"
        ></app-event-list-entry>
      }
      @if (nextLaunch) {
        <app-launch-list-entry
          [launch]="nextLaunch"
        ></app-launch-list-entry>
      }
    </div>
  }
  <div id="updates" class="section">
    <div class="section-title">Recent Updates</div>
    <div class="horizontal-scroll-wrapper">
      @for (update of store.dashboard.updates; track update) {
        <app-starship-update class="horizontal-scroll-item" [update]="update"></app-starship-update>
      }
    </div>
  </div>
  <div id="closures" class="section">
    <div class="section-title">Upcoming Road-Closures</div>
    <app-road-closures [roadClosures]="store.dashboard.road_closures"></app-road-closures>
  </div>
</ion-content>
