<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="rocket"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="rocket!==undefined">
    <div id="rocket">
      <rocket-detail-card [rocket]='rocket'></rocket-detail-card>
    </div>
    <div id="manufacturer">
      <ion-item>
        Manufacturer
      </ion-item>
      <agency-list-entry [agency]='rocket.manufacturer'></agency-list-entry>
    </div>
  </div>
</ion-content>