<app-notification-icon type="rocket" [id]="rocket.id"></app-notification-icon>
<ion-card
  routerDirection="forward"
  [routerLink]="['/rocket/' + rocket.id]"
 
>
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="rocket.image_url ? rocket.image_url : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        id="foreground"
        [src]="rocket.image_url ? rocket.image_url : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content"></div>
  </ion-card-content>
</ion-card>
