ion-card {
  text-align: center;
  height: 100%;
}
#content {
  display: flex;
  justify-content: space-around;
  ion-img {
    margin: 1rem;
    width: 40%;
    height: auto;
  }
}

ion-chip ion-icon{
  color: var(--ion-text-color);
}