<ion-content
  #blogContent
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)"
  [fullscreen]="true"
>
  <ion-refresher slot="fixed" (ionRefresh)="loadFirst($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container">
    <ion-list>
      <div *ngIf="store.blogs.length<=0">
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
        <app-list-entry-dummy [content]="true"></app-list-entry-dummy>
      </div>
      <div *ngFor="let newsItem of store.blogs">
        <app-news-list-entry
          [newsItem]="newsItem"
          type="Blog"
        ></app-news-list-entry>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circular"
        loadingText="Loading more newsItems..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll></div
></ion-content>
