<app-notification-icon
  type="location"
  [id]="location.id"
></app-notification-icon>
<ion-card *ngIf="location !== undefined">
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="
          location.map_image ? location.map_image : placeholderService.getPlaceholder()
        "
      >
      </ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        [title]="location.name"
        [text]="location.country_code"
        ionImgViewer
        id="foreground"
        [src]="
          location.map_image ? location.map_image : placeholderService.getPlaceholder()
        "
      >
      </ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ location.country_code }}</ion-card-subtitle>
    <ion-card-title>{{ location.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="specifications">
      <ion-item>
        <ion-label> Specifications </ion-label>
      </ion-item>
      <ion-chip id="total_launch_count">
        <ion-icon name="trending-up" color="dark"></ion-icon>
        <ion-label>{{ location.total_launch_count }}</ion-label>
      </ion-chip>
      <ion-chip id="total_landing_count">
        <ion-icon name="trending-down" color="dark"></ion-icon>
        <ion-label>{{ location.total_landing_count }}</ion-label>
      </ion-chip>
    </div>
  </ion-card-content>
</ion-card>
