/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "DotMatrix";
  src: url("~/assets/fonts/minisystem.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Changa";
  src: url("~/assets/fonts/Changa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
ion-card {
  transition: 0.2s;
}

.exit-enter-styles {
  opacity: 0;
  transform: translateX(50%);
}
.legend {
  overflow: auto;
  white-space: nowrap;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  .list-entry {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
    .chart-color {
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.my-toast {
  max-width: calc(100% - 40px);
}
app-notification-icon {
  position: absolute;
  z-index: 1;
  right: 1rem;
  margin-top: 0.5rem;
}
ion-toolbar{
  ion-title{
    --color: var(--ion-color-secondary-contrast);
    font-size: 1.75rem;
  }
  ion-button{
    --color: var(--ion-color-secondary-contrast) !important;
  }
  ion-segment-button{
    --color: var(--ion-color-secondary-contrast) !important;
  }
 }