<ion-card *ngIf="payload!==undefined">
  <ion-card-header>
    <ion-card-subtitle>{{payload.typeName}}</ion-card-subtitle>
    <ion-card-title>{{payload.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="description">
      <p>{{payload.description}}</p>
    </div>
    <div id=details>
      <p>Weight: {{payload.weight}}</p>
      <p>Dimensions: {{payload.dimensions}}</p>
    </div>
    <div class="links">
      <ion-item *ngIf="payload.wikiURL!==''" [href]="payload.wikiURL">
        <ion-label>Wiki</ion-label>
      </ion-item>
      <ion-item *ngFor="let infoURL of payload.infoURLs; let i=index" [href]="infoURL">
        <ion-label>Info {{i+1}}</ion-label>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>