<ion-card
  *ngIf="newsItem !== undefined"
  routerDirection="forward"
  appSlideIn
  (click)="click()"
>
  <div id="image">
    <div
      class="news-label"
      [ngClass]="{
        blog: type === 'Blog',
        article: type === 'Article',
        report: type === 'Report'
      }"
    >
      {{ type }}
    </div>
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="newsItem.imageUrl ? newsItem.imageUrl : 'assets/placeholder.png'"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img
        id="foreground"
        [src]="newsItem.imageUrl ? newsItem.imageUrl : 'assets/placeholder.png'"
      ></ion-img>
    </div>
    <div *ngIf="clicked" class="image-wrapper clicked">
      <ion-icon slot="start" name="checkmark-outline"></ion-icon>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>{{ content }}</ion-card-content>
</ion-card>
