ion-card {
  text-align: center;
  height: 100%;
}
#content {
  display: flex;
  justify-content: center;
  ion-img {
    margin: 1rem;
    width: 40%;
    height: auto;
  }
}
.image-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  ion-icon {
    font-size: 14rem;
    color: var(--news-checkmark-foreground);
  }
}
.news-label {
  position: absolute;
  transform: rotate(40deg);
  top: 0.25rem;
  right: -2rem;
  z-index: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 8rem;
  color: #000;
}
.blog {
  background: var(--news-blog-background);
  color: var(--news-blog-text);
}
.article {
  background: var(--news-article-background);
  color: var(--news-article-text);
    font-weight: var(--news-article-font-weight);
}
.report {
  background: var(--news-report-background);
  color: var(--news-report-text);
}
.clicked {
  background: var(--news-checkmark-background);
}
