@if (status !== undefined) {
  <div>
    <div>
      @switch (status.id) {
        <!-- 1 - Active - green -->
        <!-- 2 - Retired - purple -->
        <!-- 3 - In Training - blue -->
        <!-- 4 - Lost in Flight - red -->
        <!-- 5 - Lost in Training - red -->
        <!-- 6 - Died while in active service - red -->
        <!-- 7 - Dismissed - purple -->
        <!-- 8 - Resigned during training - purple -->
        <!-- 9 - Deceased - red -->
        @case (1) {
          <div>
            <ion-chip color="good">
              <ion-label color="good">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (2) {
          <div>
            <ion-chip color="trouble">
              <ion-label color="trouble">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (3) {
          <div>
            <ion-chip color="unsure">
              <ion-label color="unsure">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (4) {
          <div>
            <ion-chip color="bad">
              <ion-label color="bad">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (5) {
          <div>
            <ion-chip color="bad">
              <ion-label color="bad">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (6) {
          <div>
            <ion-chip color="bad">
              <ion-label color="bad">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (7) {
          <div>
            <ion-chip color="trouble">
              <ion-label color="trouble">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (8) {
          <div>
            <ion-chip color="trouble">
              <ion-label color="trouble">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @case (11) {
          <div>
            <ion-chip color="bad">
              <ion-label color="bad">{{ status.name }}</ion-label>
            </ion-chip>
          </div>
        }
        @default {
          <div></div>
        }
      }
    </div>
  </div>
}
