<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="datasets">
    <ion-card [id]='datasetSelector.getId()' *ngFor="let datasetSelector of store.datasetSelectors">
      <ion-card-header>
        <ion-card-title>
          {{datasetSelector.getName()}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>I want</ion-label>
          <ion-select (ionChange)="datasetSelectorTypeChange(datasetSelector,$event)" placeholder="Type"
            interface="action-sheet">
            <ion-select-option [value]="undefined">None</ion-select-option>
            <ion-select-option *ngFor="let datasetSelectorType of DatasetSelectorType | keyvalue"
              [value]="datasetSelectorType.key">
              {{datasetSelectorType.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>with Name</ion-label>
          <ion-input debounce=500 (ionChange)="datasetSelectorSearchChange(datasetSelector,$event)">
          </ion-input>
        </ion-item>
        <ion-item *ngFor="let filterItem of datasetSelector.typeFilterItems">
          <ion-label>with {{filterItem.type}} </ion-label>
          <ion-select (ionChange)="datasetSelectorfilterItemChange(datasetSelector,filterItem,$event)" value="none"
            interface="action-sheet">
            <ion-select-option value="none">None</ion-select-option>
            <ion-select-option *ngFor="let option of filterItem.options" [value]="option">{{option.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-buttons id="delete-zone" slot="end">
          <ion-button id="delete-button" color="danger" (click)="deleteDatasetSelector(datasetSelector)">
            Delete
            <ion-icon slot="end" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
      <ion-buttons slot="start">
        <ion-button color="danger" (click)="deleteDatasetSelector(datasetSelector)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card>
  </div>
  <div id="charts">
    <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card> -->
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addDatasetSelector()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>