<app-notification-icon
  type="launch"
  [id]="launch.id"
  [relatedTypeIds]="[
    {
      type: 'agency',
      id: launch.launch_service_provider ? launch.launch_service_provider.id : 0
    },
    {
      type: 'location',
      id: launch.pad && launch.pad.location ? launch.pad.location.id : 0
    },
    { type: 'pad', id: launch.pad ? launch.pad.id : 0 },
    {
      type: 'rocket',
      id:
        launch.rocket && launch.rocket.configuration
          ? launch.rocket.configuration.id
          : 0
    }
  ]"
></app-notification-icon>
<ion-card *ngIf="launch !== undefined">
  <div id="image">
    <div class="image-wrapper">
      <ion-img
        id="background"
        [src]="imageUrl ? imageUrl : placeholderService.getPlaceholder()"
      ></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img-viewer
        [title]="title"
        [text]="subtitle"
        [swipeToClose]="false"
        id="foreground"
        [src]="imageUrl ? imageUrl : placeholderService.getPlaceholder()"
      ></ion-img-viewer>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <app-launch-status [status]="launch.status"></app-launch-status>
      <app-countdown [date]="date"></app-countdown>
      <div id="links">
        <ion-item
          *ngFor="let infoURLObject of launch.infoURLs; let i = index"
          [href]="infoURLObject.url"
        >
          <ion-label>More Info</ion-label>
        </ion-item>
      </div>
      <div id="social">
        <ion-chip
          *ngIf="launch.hashtag"
          (click)="navigate('https://twitter.com/hashtag/', launch.hashtag)"
        >
          <ion-icon name="logo-twitter" color="dark"></ion-icon>
          <ion-label>{{ launch.hashtag }}</ion-label>
        </ion-chip>
        <ion-chip
          *ngIf="launch.hashtag"
          (click)="
            navigate('https://www.instagram.com/explore/tags/', launch.hashtag)
          "
        >
          <ion-icon name="logo-instagram" color="dark"></ion-icon>
          <ion-label>{{ launch.hashtag }}</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-card-content>
</ion-card>
