<ion-card *ngIf="launch!==undefined" slideIn>
  <div id="image">
    <div class="image-wrapper">
      <ion-img id="background" [src]="imageUrl"></ion-img>
    </div>
    <div class="image-wrapper">
      <ion-img id="foreground" [src]="imageUrl"></ion-img>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
    <ion-card-title>{{title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div id="content">
      <launch-status [status]="launch.status"></launch-status>
      <countdown [date]='date'></countdown>
      <div id="links">
        <ion-item *ngFor="let infoURL of launch.infoURLs; let i=index" [href]="infoURL">
          <ion-label>Info {{i+1}}</ion-label>
        </ion-item>
      </div>
    </div>
  </ion-card-content>
</ion-card>